{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

{% if user.is_staff %}

<div class="content-section">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4"> New Request </legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn" type="submit">Create request</button>
        </div>
    </form>
</div>

{% else %}
    <h2>You don't have access to this page</h2>
{% endif %}

{% endblock content %}